@model Gastos.Models.Pessoa

@{

    ViewData["Title"] = "Criar novo registro de pessoa";

}

<h1>Criar novo registro de pessoa</h1>

<br/>

<div class = "row">

      <div class = "row-md-4">

          <form asp-action = "criar">

            <div class = "form--group">

                      <label asp-for = "Codigo" class = "control-label"></label>

                       <input asp-for = "Codigo" class = "form-control " readonly = "true" value = "@ViewBag.codigo"  > 

                        <br/>                  

              </div>

              <div class = "form--group">

                      <label asp-for = "Nome" class = "control-label"></label>

                     <label asp-for = "Nome" class = "control-label"></label>

                        <br/>                  

              </div>

                <div class = "form--group">

                      <label asp-for = "Sobrenome" class = "control-label"></label>

                       <input asp-for = "Sobrenome" class = "form-control"/>

                        <br/>

                </div>


             

              
              <div class = "form-group">

                      <input type = "submit"  value = "Criar" class = "btn  btn-primary"/>

              </div>

              

          </form>

      </div>


</div>

</hr>
<br>

 
<a asp-action = "Index" >Voltar </a>

