@model Gastos.Models.Despesa

@{

    ViewData["Title"] = "Deletar um registro de despesa";

}

<h1>Deletar registro de despesa</h1>

<br/>

<div class = "row">

      <div class = "row-md-4">

          <form asp-action = "deletar">

              <div class = "form--group">

                      <label asp-for = "Codigo" class = "control-label"></label>

                       <input asp-for = "Codigo" class = "form-control" readonly = "true"/>

              </div>

                <div class = "form--group">

                      <label asp-for = "Descricao" class = "control-label"></label>

                       <input asp-for = "Descricao" class = "form-control" readonly = "true"/>

              </div>

              <div class = "form--group">

                      <label asp-for = "Valor" class = "control-label"></label>

                       <input asp-for = "Valor" class = "form-control" readonly = "true"/>

              </div>

               <div class = "form--group">

                      <label asp-for = "Desconto" class = "control-label"></label>

                       <input asp-for = "Desconto" class = "form-control" readonly = "true"/>

              </div>

              <div class = "form--group">

                      <label asp-for = "CodigoPessoa" class = "control-label"></label>

                       <input asp-for = "CodigoPessoa" class = "form-control" readonly = "true"/>

              </div>

             <div class = "form--group">

                    <label asp-for = "Data" class = "control-label"></label>

                    <input asp-for = "Data" class = "form-control" type = Date readonly = "true" />

              </div> 

              <br>

              <div class = "form-group">

                      <input type = "submit"  value = "Deletar" class = "btn  btn-primary"/>

              </div>

          </form>

      </div>


</div>

</hr>
<br>

<div>

    <a asp-action = "Index" >Voltar </a>

</div>


